.logodash{/*logo dashaboard*/
	width: 71%;
    margin-left: 10px;
}
.bgcolor{
	background-color: #B2DFDB;
}
.main-header{
	background-color: #66BB6A;
}

.list{
	display: inline-block;
}
.page{
	margin-top: -21px;
	margin-left: 90px;
}
.select{
	margin-top: -37px;
    margin-left: 15px;
}
.search{
	width: 30px;
}
sup{
	color: red;
	font-weight: 90;
}
.arrow{
	color: blue;
}
.star{
      color: red;
      font-size: 18px;
  }
.arrow1{
  	color: green;
  	font-size: 25px;
}
/* generation */
.small-box>.inner {
    height: 100px;
}
/* generation */
ol, ul {
    margin-top: -15px;
}
.rightst{
	width: 81%;
 /*    margin-left: -28px; */
}
.small-box>.inner {
    height: auto;
}
<<<<<<< Upstream, based on branch 'master' of https://github.com/hengmengtang/SCHOOLMANAGEMENT_UI.git
.generation{
	padding: 10px;
}
.first{
	padding:17px;
}
.boxcontent{
	height: 1171px;
}
.footerbg{
	background-color: #e0f2f2;
}
.page {
    margin-top: 0; 
    margin-left: 0; 
    float: right;
}
.pull-right {
    margin-bottom: 15px;
}
=======
input[type="file"]{
  		display: none;
  }	
>>>>>>> 0845241 Add register img
